@font-face
  font-family: 'Corbel'
  // src: url('fonts/choc.ttf')
  // src: url('fonts/B612-Bold.ttf'), url('fonts/B612-BoldItalic.ttf'), url('fonts/B612-Regular.ttf')
  src: url('fonts/corbel/corbel.ttf'), url('fonts/corbel/corbel-bold.ttf'), url('fonts/corbel/corbel-italic.ttf'), url('fonts/corbel/corbel-bold-italic.ttf')

body
  font-family: Corbel, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif
  font-size: 6vh
  margin: 0

blockquote.language-greek
  font-family: Bible Works Greek
  line-height: 160%

@font-face
  font-family: Shlomo
  src: url('fonts/SBL_Hbrw.ttf')

blockquote.language-hebrew
  font-family: Shlomo
  text-align: right
  line-height: 180%
  font-size: 160%
  sup.ref
    padding: 0 0 0 0.3em
    font-size: 50%

body
  background-color: var(--color-canvas)
  color: var(--color-text)
  cursor: default

a
  cursor: pointer
  text-decoration: none
  color: var(--color-action)
  &.footnote-return
    color: var(--color-faded)
    &:hover
      text-decoration: none
      color: var(--color-info)
  &:hover
    text-decoration: underline
  &.button
    min-width: 8rem
    font-size: 1.5rem
    display: inline-block
    padding: 1rem 2rem 1.1rem 2rem
    margin: 0 0.3rem 0.3rem 0
    border-radius: 0.6rem
    box-sizing: border-box
    text-decoration: none
    font-weight: 400
    text-align: center
    //  position:relative
    color: var(--color-canvas)
    background-color: var(--color-muted)
    // box-shadow: inset 0 -0.6em 0 -0.35em transparentize($action, 0.5)
    &:hover
      background-color: var(--color-action)
      background-position: center 40% !important

@mixin colors($action, $text, $canvas)
  #{--color-canvas}: $canvas
  #{--color-text}: $text
  #{--color-action}: $action

  #{--color-info}: mix($text, #006eff, 10%)
  #{--color-danger}: mix($text, #ff0045, 10%)

  #{--color-muted}: mix($canvas, $action, 30%)
  #{--color-faded}: mix($canvas, $text, 30%)
  #{--color-alt}: mix($canvas, $text, 90%)
