/*
  Stack children vertically on each other and center
  them into the middle of the grid:

  https://www.youtube.com/watch?v=CU8Plk-53RU
*/
.pile {
  display: grid;
  grid-template-areas: "pile";
  place-items: "center";

  > * {
    grid-area: "pile";
  }
}

.featured-card-content {
  align-self: start end; /* hug top right corner */
  align-self: start; /* hug top */
  align-self: end; /* hug bottom */
  background-image: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0.0));
}
