.content > blockquote {
  /*padding: 1.5rem 2rem;*/
  border-left: 0.5rem solid var(--color-marker-background);
  background-color: var(--color-menu-background);
  /*background-color: var(--color-alt);*/
  padding: 0.6rem 1.3rem 0.6rem 1rem;
  /*margin: 1rem 1.5rem 1rem 3rem;
  margin: 0;*/

  & > *:first-child {
    margin-top: 0;
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}

.content > blockquote > p+footer {
  display: block;
  font-family: sans-serif;
  margin-right: 0.4rem;
  margin-bottom: -1rem;
  margin-top: 0.8rem;
  text-align: right;
  font-size: 80%;
  color: var(--color-body-subtext);
}

.content > blockquote > p+footer:before {
  color: var(--color-body-subtext);
  content: "\2013\00A0";
}
