/* =============== image.css ================= */

.mdcoachImage {
	min-height: 1.5rem;
	min-width: 1.5rem;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	aspect-ratio: attr(data-aspect-ratio type(<number>));
}
