/* =============== layout.css ================= */

*[role="toolbar"] {
  display: none;
}

body.slides.is-focused {
  *[role="toolbar"] {
    display: block;
  }

  slide-notes {
    display: block;
  }
}

body {
  box-sizing: border-box;
  margin: 1rem auto;
  padding: 1rem 2rem;
  max-width: 40rem;
  color: var(--color-body-text);
  background-color: var(--color-body-background);
  transition: background-color 250ms ease;
  --notes-panel-width: 0px;
}

body.slides {
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow: hidden !important;

  & > main > section > .grid > .content:has(slide-notes[open]) {
    padding-right: var(--notes-panel-width);
  }
}

timer-start-pause {
  max-width: 2rem;
  max-height: 2rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1200;
}

keystroke-combo {
  position: fixed;
  right: 1rem;
  top: 1rem;
  z-index: 888;
  display: none;

  &[recording] {
    display: block;
  }
}
