/* =============== list_item.css ================= */

.content > ul > li {
  position: relative; /* Establishes a bounding box for the overlay */
  display: list-item;
}

.content > ul > li::marker {
  color: var(--color-marker-background);
  content: '•  ';
  font-weight: bolder;
  font-size: 120%;
}

.content > ul > li::after {
  content: '';
  /*font-size: 30%;*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-left: 0.7rem solid var(--color-marker-background);
  background-color: var(--color-marker-trail); /* Change to your desired covering color */
  color: var(--color-marker-background);
  z-index: 10;               /* Ensures the color sits on top of the content */
  padding-bottom: 0.2rem;
}

.content > ul > li.is-revealed::after {
  display: none;
}

.content > ul > li + li {
  /* add gap between items */
  margin-top: 0.6em;
}
