/* =============== list_item.css ================= */

.content > ul > li {
  position: relative; /* Establishes a bounding box for the overlay */
  overflow: hidden;    /* Optional: Prevents the color from bleeding past rounded corners */
}

.content > ul > li::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-left: 0.7rem solid var(--color-marker-background);
  background-color: var(--color-marker-trail); /* Change to your desired covering color */
  z-index: 10;               /* Ensures the color sits on top of the content */
}

.content > ul > li.is-revealed::after {
  display: none;
}

.content > ul > li + li {
  /* add gap between items */
  margin-top: 0.6em;
}
