/* =================== section.css =================== */

section {
  width: 100%;
  aspect-ratio: 4 / 3;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  border: 1px solid red;
  border-radius: 2rem;
  transform-origin: 50% 0%;

  /* https://www.youtube.com/watch?v=KD3_l3S_D6M logic */
  position: absolute;
  z-index: -100;
  display: grid;
  visibility: hidden;
  opacity: 0;
  translate: 20vw 0;
  transition: visibility, opacity, translate, border-color;
  transition-duration: 900ms;
  transition-behavior: allow-discrete; /* animates display */
}

section.is-focused {
  visibility: visible;
  opacity: 1;
  translate: 0 0;
  border-color: black;
  z-index: 1;

  @starting-style {
    opacity: 0;
    translate: -20vw 0;
  }
}

section.reverse {
  translate: -20vw 0;
}

section.reverse.is-focused {
  translate: 0 0;
  border-color: black;

  @starting-style {
    translate: 20vw 0;
  }
}

section > aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  background-color: red;
  height: 100vh;
}

section > .content[data-scale="90"] {
  font-size: 90%;
}

section > .content[data-scale="80"] {
  font-size: 80%;
}

section > .content[data-scale="70"] {
  font-size: 70%;
}

section > .content[data-scale="60"] {
  font-size: 65%;
}

section > .content[data-scale="50"] {
  font-size: 60%;
}

section > .content[data-scale="40"] {
  font-size: 55%;
}

section > .content[data-scale="30"] {
  font-size: 50%;
}

section > .content[data-scale="20"] {
  font-size: 45%;
}

section > .content[data-scale="10"] {
  font-size: 40%;
}

section > .content[data-scale="60"] .mdcoachImage {
  max-width: 90%;
}

section > .content[data-scale="50"] .mdcoachImage {
  max-width: 80%;
}

section > .content[data-scale="40"] .mdcoachImage {
  max-width: 70%;
}

section > .content[data-scale="30"] .mdcoachImage {
  max-width: 50%;
  max-height: 20vh;
}

section > .content[data-scale="20"] .mdcoachImage {
  float: right;
  margin-left: 1rem;
  max-width: 30%;
  max-height: 15vh;
}

section > .content[data-scale="10"] .mdcoachImage {
  float: right;
  margin-left: 1rem;
  max-width: 5em;
  max-height: 5em;
}
