slide-notes {
  color: var(--color-body-subtext);
  margin-left: 10rem;
  font-size: 80%;

  .footnote-definition {
    /*text-indent: -1rem;*/
    padding-left: 2rem;
  }

  .footnote-ref {
    float: left;
    font-size: 70%;
    cursor: help;
    margin-top: 0.3rem;
    margin-left: -1.5rem;

    &::after {
      content: ": ";
      color: var(--color-body-subtext);
      margin-right: 0.3rem;
      margin-left: 0.1rem;
    }
  }

  &::part(controls) {
    display: none;
  }
}

slide-notes > *:first-child {
  padding-top: 0;
  margin-top: 0;
}

button.notes-toggle {
  background: var(--color-menu-background);
  border: 1px solid var(--color-body-subtext);
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: 0;
  color: var(--color-body-subtext, #aaa);
  cursor: pointer;
  font: inherit;
  font-size: 0.8rem;
  right: 0;
  max-width: 2rem;
  overflow: hidden;
  padding: 0.75rem 0.5rem 0.75rem 0.1rem;
  position: absolute;
  top: 10vh;
  writing-mode: vertical-rl;
  z-index: 10;
}

button.notes-toggle[aria-expanded="true"] {
  border: 1px solid transparent;
  color: var(--color-body-subtext, #aaa);
  padding: 0.75rem 0.2rem 0.75rem 0.1rem;
}

button.notes-toggle:focus-visible {
  outline: 2px solid var(--color-marker-background, #006eff);
  outline-offset: 2px;
}

body.slides > main > section > .grid > .content > slide-notes {
  margin-left: 0;
  font-size: 100%;
  max-width: 80vw;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  box-sizing: border-box;
  color: var(--color-menu-text);
  z-index: 9999;

  &::part(content) {
    background: var(--color-menu-background);
    box-shadow: 0 0 1rem rgb(0 0 0 / 20%);
    box-sizing: border-box;
    height: 100%;
    margin-left: 1.3rem;
    overflow: auto;
    padding: 1rem 1.25rem;
  }

  &::part(controls) {
    display: block;
  }
}
