.footnote-ref {
  color: var(--color-body-background);
  background-color: var(--color-marker-trail);
  font-size: 12pt;
  padding: 0rem 4pt;
  border-radius: 50%;
  cursor: help;
  font-family: monospace;
  margin-left: 4pt;
}

slide-notes {
  font-size: 12pt;
  color: var(--color-body-subtext);
  margin-left: 10rem;
  font-size: 80%;

  .footnote-definition {
    /*text-indent: -1rem;*/
    padding-left: 2rem;
  }

  .footnote-ref {
    float: left;
    margin-top: 0.3rem;
    margin-left: -2rem;
    color: var(--color-marker-background);
    background-color: var(--color-body-background);
    font-size: 12pt;
    padding: 0rem 5.5pt;

    /*&::after {
      content: ": ";
      color: var(--color-body-subtext);
      margin-right: 0.3rem;
      margin-left: 0.1rem;
    }*/
  }

  &::part(controls) {
    display: none;
  }
}

slide-notes > *:first-child {
  padding-top: 0;
  margin-top: 0;
}


body.slides > main > section > .grid > .content > slide-notes {
  margin-left: 0;
  font-size: 100%;
  max-width: 80vw;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  box-sizing: border-box;
  color: var(--color-menu-text);
  z-index: 9999;

  &::part(content) {
    background: var(--color-menu-background);
    box-shadow: 0 0 1rem rgb(0 0 0 / 20%);
    box-sizing: border-box;
    height: 100%;
    margin-left: 1.3rem;
    overflow: auto;
    padding: 1rem 1.25rem;
  }

  &::part(controls) {
    display: block;
  }
}
