<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MDCoach</title>
  </head>
  <body class="dark">
    <div id="app"></div>
    <script type="module" src="/src/main.js"></script>
    <div style="display: none;">
      <div id="slideData">[&#34;wooo&lt;ul&gt;&lt;li&gt;1&lt;/li&gt;&lt;li&gt;2&lt;/li&gt;&lt;/ul&gt;&#34;, &#34;wooNotes&#34;, &#34;wooFT&#34;, &#34;1&#34;, &#34;1n&#34;, &#34;1ft&#34;]</div>
    </div>
  </body>
</html>
