.slides h1 {
  text-align: center;
  max-width: 20em;
  margin: 1em auto;
}

.slides h2 {
  text-align: left;
  font-size: 180%;
  /* margin: 1em auto; */
  /* max-height: 1em; */
  max-width: 40em;
  /* margin: 1em auto; */
}
