.notes article > h1, .notes article > h2, .notes article > h3, .notes article > h4 {
  padding: 0;
  margin: 0;
}

.notes article > h1:only-child::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: var(--color-marker-background); */
  background-color: rgba(0, 0, 255, 0.2);
  /* border: 1px solid red; */
  /* z-index: 0; */
}
