.notes article > ul {
  list-style: none;
  /* min-height: 100vh; */
}

.notes article > ul > li.revealed {
  color: inherit;
  /* color: var(--color-body-text); */
  /* text-decoration: underline; */
}

.notes article > ul > li.revealed:before {
  color: var(--color-marker-background);
  content: "\2022";
}

.notes article > ul > li:before {
  position: absolute;
  color: var(--color-body-subtext);
  content: "\2023";
  font-size: 180%;
  font-weight: bold;
  display: inline;
  margin-left: -1em;
  margin-top: -0.4em;
  /* margin-right: 0.3em; */
  /* padding-top: 0.2em; */
  /* margin-bottom: -0.2em; */
}

.notes article > ul > li {
  /* color: var(--color-body-subtext); */
}
