/* .notes picture {
  max-width: 10em;
  float: right;
  clear: right;
} */

.notes picture > img {
  width: 100%;
  height: 100%;
}

.notes article > figure {
  border-radius: 0.4em;
  overflow: hidden;
  margin: 0;
  display: grid;
  row-gap: 1em;
  /* column-gap: 0.5em; */
  grid-template-columns: 4fr 1fr;
  background-color: var(--color-menu-background);
}

.notes article > figure > picture {
  grid-column: 2;
  grid-row: 1 / 3;
}

.notes article > figure > figcaption {
  padding: 1.5em 0.5em;
}

/* this is the original markdown text inside [] */
.notes article > figure > figcaption.source {
  color: var(--color-body-subtext);
  font-style: italic;
}
